version: 2
jobs:
  build:
    docker:
      - image: ishiko/gcc-ishiko-cpp-build-prerequisites:0.2.0
    steps:
      - run: 
          name: "Set ISHIKO_CPP environment variable and create workspace directory"
          command: mkdir -p /projects/ishiko/cpp && echo 'export ISHIKO_CPP="/projects/ishiko/cpp"' >> $BASH_ENV
      - run:
          name: "Install build dependency: Ishiko/C++ BasePlatform"
          command: cd /projects/ishiko/cpp && git clone https://github.com/ishiko-cpp/base-platform.git && cd base-platform/build/gnumake && make
      - run:
          name: "Install build dependency: Ishiko/C++ Errors"
          command: cd /projects/ishiko/cpp && git clone https://github.com/ishiko-cpp/errors.git && cd errors/build/gnumake && make
      - run:
          name: "Install build dependency: Ishiko/C++ Memory"
          command: cd /projects/ishiko/cpp && git clone https://github.com/ishiko-cpp/memory.git && cd memory/build/gnumake && make
      - run:
          name: "Install build dependency: Ishiko/C++ Text"
          command: cd /projects/ishiko/cpp && git clone https://github.com/ishiko-cpp/text.git && cd text/build/gnumake && make
      - checkout:
          path: /projects/ishiko/cpp/process
      - run:
          name: Build
          command: cd /projects/ishiko/cpp/process/build/gnumake && make
      - run:
          name: "Install test dependency: Ishiko/C++ Types"
          command: cd /projects/ishiko/cpp && git clone https://github.com/ishiko-cpp/types.git && cd types/build/gnumake && make
      - run:
          name: "Install test dependency: Ishiko/C++ Collections"
          command: cd /projects/ishiko/cpp && git clone https://github.com/ishiko-cpp/collections.git && cd collections/build/gnumake && make
      - run:
          name: "Install test dependency: Ishiko/C++ IO"
          command: cd /projects/ishiko/cpp && git clone https://github.com/ishiko-cpp/io.git && cd io/build/gnumake && make
      - run:
          name: "Install test dependency: Ishiko/C++ FileSystem"
          command: cd /projects/ishiko/cpp && git clone https://github.com/ishiko-cpp/filesystem.git && cd filesystem/build/gnumake && make
      - run:
          name: "Install test dependency: Ishiko/C++ XML"
          command: cd /projects/ishiko/cpp && git clone https://github.com/ishiko-cpp/xml.git && cd xml/build/gnumake && make
      - run:
          name: "Install test dependency: Ishiko/C++ Diff"
          command: cd /projects/ishiko/cpp && git clone https://github.com/ishiko-cpp/diff.git && cd diff/build/gnumake && make
      - run:
          name: "Install test dependency: Ishiko/C++ Configuration"
          command: cd /projects/ishiko/cpp && git clone https://github.com/ishiko-cpp/configuration.git && cd configuration/build/gnumake && make
      - run:
          name: "Install test dependency: Ishiko/C++ Tests/Core"
          command: cd /projects/ishiko/cpp && git clone https://github.com/ishiko-cpp/test-framework.git && cd test-framework/core/build/gnumake && make
      - run:
          name: Test build
          command: cd /projects/ishiko/cpp/process/tests/build/gnumake && make
      - run:
          name: Build ExitCodeTestHelper
          command: cd /projects/ishiko/cpp/process/tests/ExitCodeTestHelper/Makefiles/GNUmakefile && make
      - run:
          name: Build StandardOutputTestHelper
          command: cd /projects/ishiko/cpp/process/tests/StandardOutputTestHelper/Makefiles/GNUmakefile && make
      - run:
          name: Build DumpTestHelper
          command: cd /projects/ishiko/cpp/process/tests/DumpTestHelper/Makefiles/GNUmakefile && make
      - run:
          name: Run the tests
          command: cd /projects/ishiko/cpp/process/tests/build/gnumake && ./IshikoProcessTests
workflows:
  version: 2
  continuous_build:
    jobs:
      - build
  weekly_build:
    jobs:
      - build
    triggers:
      - schedule:
          cron: "0 8 * * 0"
          filters:
            branches:
              only:
                 - main
