version: 2
jobs:
  build:
    docker:
      - image: ishikocpp/gcc-boost:10.1.0-1.73.0
    steps:
      - run: 
          name: "Set ISHIKO_CPP environment variable and create workspace directory"
          command: mkdir -p /projects/ishiko/cpp && echo 'export ISHIKO_CPP="/projects/ishiko/cpp"' >> $BASH_ENV
      - run:
          name: "Install build dependency: Ishiko/C++ Platform"
          command: cd /projects/ishiko/cpp && git clone https://github.com/ishiko-cpp/platform.git && cd platform/build/GNUmakefile && make
      - run:
          name: "Install build dependency: Ishiko/C++ Errors"
          command: cd /projects/ishiko/cpp && git clone https://github.com/ishiko-cpp/errors.git && cd errors/build/GNUmakefile && make
      - run:
          name: "Install build dependency: Ishiko/C++ Text
          command: cd /projects/ishiko/cpp && git clone https://github.com/ishiko-cpp/text.git && cd text/build/GNUmakefile && make
      - checkout:
          path: /projects/ishiko/cpp/process
      - run:
          name: Build
          command: cd /projects/ishiko/cpp/process/build/GNUmakefile && make
      - run:
          name: "Checkout Ishiko-cpp/TestFramework test dependency"
          command: cd /Ishiko-cpp && git clone https://github.com/Ishiko-cpp/TestFramework.git
      - run:
          name: "Build Ishiko-cpp/TestFramework test dependency"
          command: cd /Ishiko-cpp/TestFramework/Core/Makefiles/GNUmakefile && make
      - run:
          name: Test build
          command: cd /Ishiko-cpp/Process/Tests/Makefiles/GNUmakefile && make
      - run:
          name: Build ExitCodeTestHelper
          command: cd /Ishiko-cpp/Process/Tests/ExitCodeTestHelper/Makefiles/GNUmakefile && make
      - run:
          name: Build StandardOutputTestHelper
          command: cd /Ishiko-cpp/Process/Tests/StandardOutputTestHelper/Makefiles/GNUmakefile && make
      - run:
          name: Build DumpTestHelper
          command: cd /Ishiko-cpp/Process/Tests/DumpTestHelper/Makefiles/GNUmakefile && make
      - run:
          name: Run the tests
          command: cd /Ishiko-cpp/Process/Tests/Makefiles/GNUmakefile && ./IshikoProcessTests
